@import "../../../../style.css";

.recommendation_container {
  width: 940px;
  height: 300px;
  font-size: 30px;
}

.news_title_section {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  width: 90%;
  font-size: 40px;
}

.news_title {
  font-size: 50px;
  width: 95%;
  margin-bottom: 25px;
  margin-left: 10px;
  font-weight: bold;
}

.news_regdate {
  position: relative;
  left: 18%;
  margin-top: 3px;
  color: var(--brownish-grey);
  font-size: 14px;
  width: 40%;
}

.news_summary_section {
  width: 940px;
  margin-bottom: 10px;
  /* summary 사용 X -> 사용 여부 확인 후 수정 할 것 */
}
.news_title_style {
  font-size: 20px;
}
