@import "../../../../style.css";

.recommendation_container {
  width: 900px;
  height: 300px;
  font-size: 30px;
}

.news_title_section {
  display: flex;
  flex-direction: row;
  width: 800px;
  font-size: 40px;
}

.news_title {
  font-size: 50px;
  width: 90%;
  margin-bottom: 15px;
  margin-left: 10px;
  font-weight: bold;
}

.news_regdate {
  position: relative;
  left: 18%;
  margin-top: 3px;
  color: var(--brownish-grey);
  font-size: 17px;
  width: 40%;
}

.news_title_style {
  width: 150%;
  font-size: 17px;
  margin-left: 20px;
}
